{% extends "layout.html" %}

{% block main %}
        <div class="text-center">
            <img src="https://rehan-c.github.io/home/images/rehan.png" alt="rehan" class="image">
        </div>
        <h1 class="bluetext, center"><b>Welcome to Rehan's website!</b></h1>
        <p class="greytext, center">Visit my <strong>GitHub</strong></p>
        <div class="text-center">
            <i class="arrow right" id="arrowright"><strong>></strong></i>
            <button type="button" class="btn btn-dark"><a class="githubbutton" href="https://github.com/rehan-c">My GitHub</a></button>
            <i class="arrow left" id="arrowleft"><strong><</strong></i>
        </div>

        <p><br></p>

        <div class="container">
            <div class="jumbotron">
                <h1 class="mainheader">About me</h1>
                <p>I currently work in IT, and I'm self studying programming with the intention of transcending into Web Development.</p>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1 class="mainheader">What are my hobbies?</h1>
                <p>Self studying IT and programming, composing music, and playing video games.</p>
            </div>
        </div>

{% endblock %}